// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  width: 100vw;
  height: 70px;
  background-color: $white;
  padding: 10px 10px;
}
