header button.hamburger {
  position: relative;
  display: block;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: transparent;
  background-color: transparent;
}


.hamburger .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: $primary;
    &:nth-child(n+1) {
      margin-top: 5px;
    }
}
